[2020-09-25 13:11] puneetsingh24 opened #228 "Add local image support for authors, currently we are fetching author image from github"
Create a folder in content/assets folder for author images, then need to mention the image name for the respective author in content/author.yaml

And that author image will be displayed at the blog listing/blog detail and author page.

[2020-09-25 13:16] pareek-narendra opened #229 "Add support for GIF Images in blog"
Right now GIF Images are not supported with our blog content, Add support for GIF images along with other formats.

[2020-09-25 13:16] puneetsingh24 opened #230 "Need to show the reading minutes on the blog detail page"
Need to show how much minutes approximately it will take to read the blog post, Need to put "x min read" just after where the date is showing in a blog post.

[2020-09-25 13:35] puneetsingh24 opened #231 "Need to update the dimension of the cover image"
https://www.loginradius.com/engineering/blog/getting-started-with-grpc-part-1-concepts/

The cover image for the above blog is blurred and of not recommended size, You can upload a new image or update the cover image of above mention blog to 3:2 ratio and minimum size to 1200px:800px

[2020-09-25 13:38] Ashumaurya commented on #231
I would like to work on this issue.

[2020-09-25 13:39] aman-agrwl-zz opened #232 "Code Duplication - GraphQL queries are duplicated at many places in the templates, Removing those duplicate queries will increase code quality"
Code Duplication - GraphQL queries are duplicated at many places in the templates.

Remove those duplicate quires will increase code quality,

[2020-09-25 13:42] pareek-narendra opened #233 "Write a technical blog on any technology of your choice and get swags."
LoginRadius is accepting guest blogs on its Engineering Blog. Feel free to write a blog on any technology of your choice and comment on the issue.
### You don't need to be an assignee on the issue to write blog. Plese raise a PR once done and comment here.

Check out our Hacktoberfest Page before https://www.loginradius.com/engineering/page/hacktoberfest2020.

Engineering Blog
https://www.loginrad

[2020-09-25 13:43] puneetsingh24 opened #234 "Put detail about argon2 hashing in the blog post about encryption and hashing"
https://www.loginradius.com/engineering/blog/encryption-and-hashing/

The above blog contains introductory detail about many hashing and encryption algorithms, Need to add the details about argon2 hashing also

[2020-09-25 15:51] Kalovelo commented on #230
hello  :wave: @puneetsingh24 , could I work on this issue for hacktoberfest2020 :tada: ?

[2020-09-25 16:21] puneetsingh24 commented on #230
@Kalovelo Assigned issue to you for hacktoberfest2020

And LoginRadius is also giving swags to people who will be contributing, so please make sure to read our blog and submit your info to get free goodies.

https://www.loginradius.com/engineering/page/hacktoberfest2020

[2020-09-25 16:22] puneetsingh24 commented on #231
@Ashumaurya assigned the issue to you for hacktoberfest2020

And LoginRadius is also giving swags to people who will be contributing, so please make sure to read our blog and submit your info to get free goodies.

https://www.loginradius.com/engineering/page/hacktoberfest2020

[2020-09-25 16:43] puneetsingh24 opened #237 "Need to update the dimension of the blog post cover image"
https://www.loginradius.com/engineering/blog/index-in-mongodb/

The cover image for the above blog is of not recommended size, You can upload a new image or update the cover image of the above mention blog to 3:2 ratio and minimum size to 1200px:800px

[2020-09-25 17:25] Ruchika30 commented on #228
Hello @puneetsingh24 . I would like to take this up

[2020-09-25 17:40] vyasriday commented on #228
Assigned you @Ruchika30. Thanks for contributing!

LoginRadius is also giving swags to people who will be contributing, so please make sure to read our blog and submit your info to get free goodies.
https://www.loginradius.com/engineering/page/hacktoberfest2020

[2020-09-25 17:55] hastagAB commented on #237
Hi @puneetsingh24 ,
I would like to fix this issue. Should I replace the Cover image with MongoDB logo image of required size?

[2020-09-25 18:22] puneetsingh24 commented on #237
Assigned you @hastagAB . MongoDB logo with a nice background will work.

And LoginRadius is also giving swags to people who will be contributing, so please make sure to read our blog and submit your info to get free goodies.

https://www.loginradius.com/engineering/page/hacktoberfest2020

[2020-09-26 07:47] arshita129 commented on #233
Hey! I would like to contribute by writing a blog under Hacktoberfest 2020.

[2020-09-26 08:26] pareek-narendra commented on #233
@arshita129 assigned the issue to you for hacktoberfest2020

And LoginRadius is also giving swags to people who are contributing, so please make sure to read our blog and submit your info to get free goodies.

https://www.loginradius.com/engineering/page/hacktoberfest2020

[2020-09-26 12:23] Ninjavin commented on #233
Hey @pareek-narendra I would like to write a blog. Can you please assign this to me?

[2020-09-26 12:36] vyasriday commented on #233
@Ninjavin Please feel free to write one and let us know here once you raise a PR. Also please go through https://www.loginradius.com/engineering/page/hacktoberfest2020 to get free swags from LoginRadius as well. Happy Writing :)

[2020-09-26 13:35] sjha2048 commented on #232
Hi @aman-agrwl , I would like to take up this issue, can you please assign it to me?

[2020-09-26 16:24] aman-agrwl commented on #232
@sjha2048  Assigned issue to you for hacktoberfest2020

And LoginRadius is also giving swags to people who will be contributing, so please make sure to read our blog and submit your info to get free goodies.

https://www.loginradius.com/engineering/page/hacktoberfest2020

[2020-09-26 19:08] pranavp10 commented on #229
I would like to work on this

[2020-09-26 21:48] JanetLaysEggs commented on #234
@puneetsingh24 could you please issue this task to me please?

[2020-09-27 03:42] pareek-narendra commented on #229
Assigned you @pranavp10 . Thanks for contributing!

LoginRadius is also giving swags to people who will be contributing, so please make sure to read our blog and submit your info to get free goodies.
https://www.loginradius.com/engineering/page/hacktoberfest2020

[2020-09-27 04:22] kichloo commented on #234
@puneetsingh24 I would like to work on this one!

[2020-09-27 06:21] Ashumaurya commented on #231
@puneetsingh24  Thankyou for assigning this issue to me and also letting me know about the free goodies from your side.

[2020-09-27 11:03] heytulsiprasad commented on #233
Hey @pareek-narendra, thanks for this opportunity. I would love to write for your blog and be a part of this community. :heart:

You can check my written blogs on, [Wirescript](https://wirescript.now.sh) (my small home on internet). I have read your contribution guidelines, its great by me. 👍

[2020-09-27 13:13] JanetLaysEggs commented on #234
@puneetsingh24 or anyone,  could you please checkout that commit above and see if the paragraphs about Argon2 are up to standard?

[2020-09-27 13:31] kichloo commented on #233
@vyasriday @pareek-narendra Can this issue have multiple assignes, because I too want to submit a technical blog.

[2020-09-27 13:40] vyasriday commented on #233
@kichloo @heytulsiprasad Yeah you can also write your blog with us. Just Raise a PR and let us know here.
Happy Blogging!

[2020-09-27 14:17] kichloo commented on #233
@vyasriday Thanks! But, I had a question, how to write a blog, i.e. we have to write and submit the blog on the website or prepare it on MS Word and other mediums and then submit?

[2020-09-28 05:03] vyasriday commented on #233
@kichloo We accept in the MD format.  You can know more about it [here](https://github.com/LoginRadius/engineering-portal/blob/master/CONTRIBUTING.md). Let me know if you need further help.

[2020-09-28 08:51] pranavp10 commented on #229
@pareek-narendra  working on it

[2020-09-28 12:37] Ruchika30 commented on #228
@puneetsingh24  How do I run those graphql queries

[2020-09-28 19:52] khushijindal commented on #233
Hey @pareek-narendra! I would like to contribute a blog here for hacktoberfest 2020. This would be my first contribution to a public repo XD.

[2020-09-29 02:22] imrishabh18 commented on #233
I am starting to write a blog as well 😄

[2020-09-29 04:53] mohammed786 commented on #228
Hey @Ruchika30 ,

Once you setup the project in the local you can try the graphql queries in the [localhost:8000/__graphql](http://localhost:8000/__graphql) playground provided by gatsby.

Also, gatsby provides a playground where you can try those queries without setting up the project. Checkout [here](https://graphql-reference-1124782374.gtsb.io/___graphql).

I hope it's clear now, feel free to a

[2020-09-29 05:23] pareek-narendra commented on #233
@khushijindal @imrishabh18 Please feel free to write one and let us know here once you raise a PR. Also please go through https://www.loginradius.com/engineering/page/hacktoberfest2020 to get free swags from LoginRadius as well. Happy Writing :)

[2020-09-29 06:06] eaglewarrior commented on #233
I want to write a ML blog please assign me issue

[2020-09-29 06:13] vyasriday commented on #233
@eaglewarrior Assigned you as well. Thanks for contributing. Please go through https://www.loginradius.com/engineering/page/hacktoberfest2020 to learn more about getting swags from LoginRadius

[2020-09-29 07:49] rishipurwar1 opened #249 "Padding issue in the card"
On the homepage, the padding on the card is too much.
We need to decrease it.

Screenshot
![Shot 0009](https://user-images.githubusercontent.com/57035408/94528626-4a2f7800-0256-11eb-8ecd-1c33881cf182.png)

[2020-09-29 07:49] rishipurwar1 commented on #249
I would like to work on this issue

[2020-09-29 08:26] vyasriday commented on #249
Hey, @rishipurwar1 Please add details of the device and browser you are using.  Are you using a mobile browser?

[2020-09-29 08:27] rishipurwar1 commented on #249
Hello @vyasriday I am using windows 10 and google chrome

[2020-09-29 08:55] vyasriday commented on #249
From your screenshot, it looks like you are viewing it on a mobile browser or at least in the mobile view.

[2020-09-29 09:10] rishipurwar1 commented on #249
No, I cropped the screenshot...

[2020-09-29 10:20] vyasriday commented on #249
@rishipurwar1 I discussed the issue with our design team and looks like they don't think the current design has any issues regarding padding. I am sorry, but I don't think this is a valid issue. I will be closing this. :)

[2020-09-29 10:20] #249 closed

[2020-09-29 17:31] aknrg77 commented on #233
Hi @vyasriday I would like to write a blog, please assign me this issue.

[2020-09-29 18:36] KarenEfereyan commented on #233
@vyasriday the article can be on any kind of technology, right?

[2020-09-29 19:10] Ruchika30 commented on #228
@mohammed786 When I try to raise PR of my branch(addImageFolder) against dev, it says there is nothing to compare. And hence I am unable to do raise the Pr. Kindly help

[2020-09-30 03:48] vyasriday commented on #233
@aknrg77 Sure, I will add you as assginee too. LoginRadius is also giving swags to people who will be contributing, so please make sure to read our blog and submit your info to get free goodies.
https://www.loginradius.com/engineering/page/hacktoberfest2020

[2020-09-30 05:03] Hard-Coder05 commented on #233
@vyasriday I am interested to write a blog on Flutter! Could you please assign me this issue?

[2020-09-30 05:10] pareek-narendra commented on #233
@Hard-Coder05 Great, I will add you as assignee too. LoginRadius is also giving swags to people who will be contributing, so please make sure to read our blog and submit your info to get free goodies.

https://www.loginradius.com/engineering/page/hacktoberfest2020

Happy Writing :)

[2020-09-30 05:18] anup-a commented on #233
@pareek-narendra  Can I write a blog on **GraphQL** ? Did quite a research a while back

[2020-09-30 05:59] ashish8947 commented on #233
Yeah sure @anup-a, I will add you as assignee too. LoginRadius is also giving swags to people who will be contributing, so please make sure to read our blog and submit your info to get free goodies.

https://www.loginradius.com/engineering/page/hacktoberfest2020

Happy Writing :)

[2020-09-30 06:09] Hard-Coder05 commented on #233
@ashish8947 @vyasriday @pareek-narendra I have raised a PR #254  for this issue. I have completed my blog!

[2020-09-30 06:35] iamshubhankarkhare commented on #233
@ashish8947  @pareek-narendra I would love to write a blog on **VIM** .Can you please assign this to me as well ?? TIA

[2020-09-30 06:40] ashish8947 commented on #233
Yeah sure @iamshubhankarkhare, I will add you as assignee too. LoginRadius is also giving swags to people who will be contributing, so please make sure to read our blog and submit your info to get free goodies.

https://www.loginradius.com/engineering/page/hacktoberfest2020

Happy Writing :)

[2020-09-30 06:53] vyasriday commented on #233
@Hard-Coder05 Thanks for contributing. I will put your PR under Review. :)

[2020-09-30 13:16] agarwalBinay18 commented on #233
I want to work on this issue.please assign me

[2020-09-30 15:12] Dabjazz commented on #233
Sir, I would like to work on this issue. I would like to share my knowledge of getting started with Game Development.

[2020-09-30 17:40] khushijindal opened #256 "Typo in CONTRIBUTING.md"

[2020-09-30 17:52] khushijindal commented on #256
I have made a PR for the change. Please review and get back if any problem exists.

[2020-09-30 17:59] ramesht007 commented on #233
hello @pareek-narendra , I want to work on this PR.

[2020-09-30 18:05] KarenEfereyan commented on #233
@pareek, I don't have to be assigned to work on this right?

[2020-09-30 20:38] dhritippaul commented on #233
Hello @pareek-narendra , I will like to contribute to your blog . I would be following the contributing guide as mentioned. Kindly assign me the blog writing part so that I can continue with writing blog .

[2020-09-30 20:42] subhadeeppaul commented on #233
Hello @pareek-narendra , I would love to write for your blog for hactoberfest 2020 and be a part of this community. Can you please assign me?

[2020-09-30 21:54] HunainHumail commented on #233
Hello @pareek-narendra  I would love to write a blog on technology and development for hacktoberfest 2020. Please assign me so that I can also contribute

[2020-10-01 01:15] elfreki commented on #233
#268 Creted a post request for a blog

[2020-10-01 04:38] vyasriday commented on #256
@khushijindal Thanks for contributing.  Your PR is under review.  Please feel free to go through https://www.loginradius.com/engineering/page/hacktoberfest2020 to become eligible for LoginRadius swags for contributing to our open source. :)

[2020-10-01 04:39] vyasriday commented on #256
#257

[2020-10-01 05:35] iamshubhankarkhare commented on #233
@pareek-narendra @ashish8947  I just finished writing the blog on **VIM: Getting started** . Its PR #279 .
Please have a look.

[2020-10-01 05:43] Harshsngh07 commented on #233
Hi, @pareek-narendra would like to write a blog on competitive programming for hacktoberfest 2020. Please assign me so that I can also contribute

[2020-10-01 05:45] Harshsngh07 commented on #237
Hi @puneetsingh24  is this issue still on? Would like to work on it.

[2020-10-01 06:04] pareek-narendra commented on #233
Yeah sure @Harshsngh07 , I will add you as assignee too. LoginRadius is also giving swags to people who will be contributing, so please make sure to read our blog and submit your info to get free goodies.

https://www.loginradius.com/engineering/page/hacktoberfest2020

Happy Writing :)

[2020-10-01 06:06] KarenEfereyan commented on #233
@pareek-narendra assign me also

[2020-10-01 06:09] pareek-narendra commented on #233
Sure @KarenEfereyan
LoginRadius is also giving swags to people who will be contributing, so please make sure to read our blog and submit your info to get free goodies.

https://www.loginradius.com/engineering/page/hacktoberfest2020

Happy Writing :)

[2020-10-01 06:16] agarwalBinay18 commented on #233
@pareek-narendra Please review my PR :)

[2020-10-01 06:34] dhritippaul commented on #233
@pareek-narendra kindly assign me the same sir

[2020-10-01 06:46] ashish8947 commented on #233
Sure @dhritippaul assigning to you
LoginRadius is also giving swags to people who will be contributing, so please make sure to read our blog and submit your info to get free goodies.

https://www.loginradius.com/engineering/page/hacktoberfest2020

Happy Writing :)

[2020-10-01 07:14] iamrajiv opened #285 "Adding stale bot GitHub action"

[2020-10-01 07:14] iamrajiv commented on #285
@vyasriday I want to work on this issue.

[2020-10-01 07:19] abhaybhatt commented on #230
@puneetsingh24  can i contribute to this issue?

[2020-10-01 07:20] abhaybhatt commented on #231
@puneetsingh24  can i be assigned for this issue?

[2020-10-01 07:20] Kalovelo commented on #230
Hello, sorry for the inconvinience I will fulfill the extra requirements and update the PR within the day!

[2020-10-01 07:44] arshita129 commented on #233
Hey! Please review my PR

[2020-10-01 08:21] alok182011 commented on #233
Hey! Can you assign me this? I'll like to contribute a blog on react events.

[2020-10-01 08:23] Garvit-32 commented on #237
Hi @puneetsingh24, I would like to work on this issue

[2020-10-01 08:33] puneetsingh24 commented on #233
Sure @alok182011 assigning to you
LoginRadius is also giving swags to people who will be contributing, so please make sure to read our blog and submit your info to get free goodies.

https://www.loginradius.com/engineering/page/hacktoberfest2020

Happy Writing :)

[2020-10-01 08:34] Garvit-32 commented on #233
Hi @puneetsingh24 I would love to contribute, Can you assign me on this.

[2020-10-01 09:06] akshay11298 commented on #233
Hi @puneetsingh24 I have written a blog and created pr #298 for it. Could you please assign this to me as well

[2020-10-01 09:07] SamriddhiMishra commented on #233
Hi, @puneetsingh24 I have created the pr #299. Please review it. Thanks!

[2020-10-01 09:12] puneetsingh24 commented on #233
Yeah sure @Garvit-32, Added you as assignee too. LoginRadius is also giving swags to people who will be contributing, so please make sure to read our blog and submit your info to get free goodies.

https://www.loginradius.com/engineering/page/hacktoberfest2020

Happy Writing :)

[2020-10-01 09:49] eaglewarrior commented on #233
Hi @puneetsingh24 @vyasriday @pareek-narendra  I have raised a PR #303 please review and let me know the changes

[2020-10-01 10:38] puneetsingh24 commented on #233
Hello, @Dabjazz @ramesht007 @subhadeeppaul @HunainHumail Thanks for your interest in writing the blog. Please feel free to write one and let us know here once you raise a PR.

Also please go through https://www.loginradius.com/engineering/page/hacktoberfest2020 to get free swags from LoginRadius as well. Happy Writing :)

[2020-10-01 11:31] sanskar-p opened #309 "Blog cards can be given some animations"
Blog link cards in the homepage can have some animation when user hovers their cursor on them. I'm thinking something like a slight zoom or a blue (`#5dbcd2`) overlay on the image.
This can be achieved by putting appropriate CSS in [this](https://github.com/LoginRadius/engineering-portal/blob/master/src/components/card.js) component.

If you like the idea, I'd be glad to implement it.

[2020-10-01 11:47] agarwalBinay18 commented on #233
@puneetsingh24  please check my PR :)

[2020-10-01 12:03] akshay-js opened #311 "Need to add Deploy status badge in README.md"
Please add the Deploy status badge in README.md

Status badges are visual representations of your site's status, served as image files you can add to repository READMEs, documentation, or any other web page. Please follow this [URL](https://docs.netlify.com/monitor-sites/status-badges/#add-status-badges)

[2020-10-01 12:42] shraddhavp commented on #233
would like to write a technical blog can you please assign @puneetsingh24

[2020-10-01 12:46] shraddhavp opened #314 "Create a contributing guidelines"
@puneetsingh24  would like to create a contributing.md file
similar to https://github.com/smaranjitghose/awesome-portfolio-websites/blob/master/CONTRIBUTING.md  which I have only created if you are ok with the design I woud like to design contributing.md file for this project too please assign the issue to me

[2020-10-01 12:55] LENZFLIKER opened #315 "Need a blog cover image template system"
Need a blog cover image template so any new author can easily use it to make high quality cover images for their new blog posts.

[2020-10-01 13:03] LENZFLIKER commented on #315
A preview of the cover image template. Contributors can change the title, background and add thier name on the cover.

![Cover Image Template by LENZFLIKER](https://user-images.githubusercontent.com/17332970/94812493-6f69e500-0414-11eb-9d88-150c500698b7.png)

[2020-10-01 13:14] puneetsingh24 commented on #233
Hello, @shraddhavp  Thanks for your interest in writing the blog. Please feel free to write one and let us know here once you raise a PR.

Also please go through https://www.loginradius.com/engineering/page/hacktoberfest2020 to get free swags from LoginRadius as well. Happy Writing :)

[2020-10-01 13:39] shaswatsingh19 commented on #233
Hey! @pareek-narendra  I would like to contribute by writing a blog can you please assign it to me

[2020-10-01 13:46] malakar-soham commented on #311
I can take up this issue

[2020-10-01 13:48] puneetsingh24 commented on #233
Hello, @shaswatsingh19  Thanks for your interest in writing the blog. Please feel free to write one and let us know here once you raise a PR.

Also please go through https://www.loginradius.com/engineering/page/hacktoberfest2020 to get free swags from LoginRadius as well. Happy Writing :)

[2020-10-01 13:50] shubhamcodez commented on #256
What's the status on the Issue?

[2020-10-01 15:03] MxCvlibr opened #322 "Fixed multiple typos in /src/pages/hacktoberfest2020.js"

[2020-10-01 16:04] rjn01 commented on #233
@pareek-narendra @puneetsingh24  I would like to write a blog can you please assign it to me.

[2020-10-01 16:16] subhadeeppaul commented on #233
@pareek-narendra kindly assign me the same sir

[2020-10-01 16:39] vamsireddy22 opened #327 "New Blog on Fenwick Trees"
Hello, I would like to write an article on Fenwick Tree or Binary Indexed Tree. Can I write this?

[2020-10-01 17:36] khushijindal commented on #256
This one is solved @shubhamcodez

[2020-10-01 21:25] GunjanMA commented on #233
Hello @pareek-narendra !!! I would like to contribute by writing a blog... please assign me the issue

[2020-10-02 02:51] eaglewarrior commented on #233
Hi @puneetsingh24 @vyasriday @pareek-narendra I have raised a PR #326  please review and let me know the changes, I have raised this issue again as I have wrongly raised or from my master to login dev, now corrected to my dev to login radius dev.

[2020-10-02 07:17] pranavp10 commented on #229
@pareek-narendra @puneetsingh24  do take a look at the pull request I have added support for the GIF Images in the blog  [reference](https://github.com/gatsbyjs/gatsby/issues/7317#issuecomment-412984851)

[2020-10-02 07:27] priyanka1111 commented on #237
Hi @puneetsingh24, this issue is open? Would like to work.

[2020-10-02 07:33] puneetsingh24 commented on #237
Issue has been done

[2020-10-02 07:33] #237 closed

[2020-10-02 07:34] puneetsingh24 commented on #231
Issue has done

[2020-10-02 07:34] #231 closed

[2020-10-02 07:35] priyanka1111 commented on #256
What is the status of issue?

[2020-10-02 08:45] vyasriday opened #342 "Typos, Grammatical Mistakes and Language Fixes Won't be Accepted."
Please do not create any more issues and PRs for Typos and one line changes. This Repo only accpets contributions for blogs and logical changes.

[2020-10-02 13:11] markandevansh99 commented on #233
Hey! @pareek-narendra @puneetsingh24 ..I have raised a PR #344 by contributing a Blog..Please review it.

[2020-10-02 15:01] Sheetal777 commented on #233
Hello Maintainers. Would like to write a blog and raise the PR soon.
Thank you!

[2020-10-02 15:05] Malvika18 commented on #233
hey i would also like to write one blog

[2020-10-02 15:47] #322 closed

[2020-10-02 17:13] hacky1997 commented on #233
@pareek-narendra @puneetsingh24 @vyasriday Hello everyone, I also want to contribute by writing some on the latest techs. Could you guys assign me too?

[2020-10-03 06:39] iamrajiv opened #348 "Adding ESLint and Prettier GitHub Actions"

[2020-10-03 06:40] iamrajiv commented on #348
@puneetsingh24 I want to work on this issue.

[2020-10-03 09:11] king-11 commented on #233
@pareek-narendra I was thinking I can write a blog about query optimizations in Django or maybe cryptographically hashing API key files in nodejs can I go ahead with one of them ?

[2020-10-03 15:01] parasgoyal12 commented on #233
@puneetsingh24 @vyasriday @pareek-narendra I want to Write a Blog on Competitive Programming. Please assign to me.

[2020-10-03 18:39] rjn01 commented on #233
@puneetsingh24 @pareek-narendra I have written a blog. Please review my PR #346

[2020-10-03 20:53] just-tech20 commented on #311
@akshay-s-770  want to work on this issue.
We can use shields.io to add badge in Readme.md

[2020-10-03 21:28] jnvee commented on #233
@puneetsingh24 @vyasriday @pareek-narendra Hello i would like to write a blog and this is my first time contributing to open source as a part of HacktoberFest! Would you please assign it to me?

[2020-10-04 03:40] vyasriday commented on #233
@jnvee Please write one and raise a PR. You don't need to an assignee to write one as mentioned in the description of issue.

[2020-10-04 07:06] puneetsingh24 commented on #314
Hello @shraddhavp We already have contributing guidelines, however, if you can make it much better you are welcome to work on it. Just remember that we are not accepting typos/grammatical fixes. And there should not be any loss of information.

Happy Coding!

[2020-10-04 13:12] SamikLalwani commented on #233
Can I work on this blog too, could you please assign me too?

[2020-10-04 13:21] SamikLalwani commented on #233
Where can we write the blog, i also want to contribute?

[2020-10-04 14:34] gabrielrab commented on #233
Hello Maintainers,
I wrote a blog post, and I would like you to please add this issue for participation in Hacktoberfest. Thank you!

[My PR](https://github.com/LoginRadius/engineering-portal/pull/355)

[2020-10-04 16:26] SamikLalwani commented on #233
Blog done #360

[2020-10-04 17:08] hyperyuri commented on #233
Hello There!
I wrote a blog post <a href="https://github.com/LoginRadius/engineering-portal/pull/361">This is my PR </a>
Can you please add this issue for Hacktoberfest participation? Thank you all!

[2020-10-04 20:43] aryanrawlani28 commented on #233
Hello! Wrote a blogpost, would appreciate your thoughts. https://github.com/LoginRadius/engineering-portal/pull/363

Cheers!

[2020-10-04 20:49] shreyaa-sharmaa commented on #233
Hello! Wrote a blog on end-to-end testing with jest-puppeteer #364
Thanks!

[2020-10-04 23:12] baspalinckx commented on #233
Hi! Made a PR for my blog about EternalBlue. Hope it's up to spec https://github.com/LoginRadius/engineering-portal/pull/366
Thanks!

[2020-10-05 07:55] Ruchika30 commented on #228
Hello @mohammed786 . Required changes done ..Kindly review
8c766cc4761914c05fdc8b419ab4ca464d861d5d

[2020-10-05 10:35] vyasriday commented on #348
@iamrajiv Could you please add more description to it. How it will add value to this Repository?

[2020-10-05 11:11] iamrajiv commented on #348
@vyasriday I have updated the description please take a look.

[2020-10-05 18:48] sudiptog81 commented on #233
Added a blog in #359. Thanks.

[2020-10-06 04:20] krabhisharma commented on #233
hey I want to write a blog  can I contribute to it?

[2020-10-06 04:22] puneetsingh24 commented on #233
Hello, @krabhisharma Thanks for your interest in writing the blog. Please feel free to write one and let us know here once you raise a PR.

Also please go through https://www.loginradius.com/engineering/page/hacktoberfest2020 to get free swags from LoginRadius as well. Happy Writing :)

[2020-10-06 07:21] arshita129 commented on #233
Hey!  Please see my PR #352

Thank you

[2020-10-06 08:10] krabhisharma commented on #233
@puneetsingh24   You can review my PR #376

[2020-10-06 08:24] Ninjavin commented on #233
@puneetsingh24 I have opened a Pull Request #338 with reference to this issue.

[2020-10-06 18:16] DevLokCodes commented on #311
i would love to work on this could you assign this issue to me

[2020-10-07 17:50] #315 closed

[2020-10-07 17:51] #230 closed

[2020-10-07 17:53] #234 closed

[2020-10-07 19:47] AshishMhrzn10 commented on #233
@puneetsingh24  I have opened a PR #381 contributing to this issue. Please review it.

[2020-10-07 21:44] ng29 commented on #233
hey I want to write a blog can I contribute to it?

[2020-10-08 01:21] Ruchika30 commented on #228
Hello @mohammed786 . Though I raised the PR I cannot see any update regarding it in my hacktoberfest profile. Is there something thats needs to be done from your side. Like **adding** **hacktoberfest-accepted**  label or something llike that.
Would u pls help

[2020-10-08 08:15] amoghatsunil commented on #233
@pareek-narendra I would like to write a blog on ROS

[2020-10-09 00:14] M4yankChoudhary commented on #348
Can i take this ?

[2020-10-09 05:06] puneetsingh24 commented on #233
Hello, @ng29 @amoghatsunil  Thanks for your interest in writing the blog. Please feel free to write one and let us know here once you raise a PR.

Also please go through https://www.loginradius.com/engineering/page/hacktoberfest2020 to get free swags from LoginRadius as well.
Happy Writing :)

[2020-10-09 08:05] prithvirajbytes commented on #233
Added a blog in #391. Please review.

[2020-10-09 08:25] prithvirajbytes commented on #233
Added a blog in #392 . Please review and help me contribute. :)

[2020-10-09 09:12] Devanshh commented on #233
Hi, Please have a look at #393
Happy to Help and Contribute towards the Community!

[2020-10-09 19:31] Malvika18 commented on #233
Hi ,please check my PR #395

[2020-10-10 00:12] ng29 commented on #233
hi @puneetsingh24 / @pareek-narendra

Please find my pr https://github.com/LoginRadius/engineering-portal/pull/396

Cheers,

[2020-10-10 13:22] krabhisharma commented on #233
please check PR #399

[2020-10-11 04:31] OmkarPh commented on #314
Hello
Is @shraddhavp working on this?
If not, I might want to give it a try.

[2020-10-11 17:56] malathit commented on #233
@puneetsingh24 @pareek-narendra @vyasriday Wrote a post on using Jekyll to setup a blog in PR #401 . Please review and let me know your thoughts

[2020-10-11 18:59] X3NOSIZ commented on #233
@pareek-narendra @vyasriday assign me please!

[2020-10-12 06:20] shraddhavp commented on #314
@OmkarPh  I am working on it sorry!

[2020-10-12 08:14] prithvirajbytes commented on #233
@pareek-narendra @puneetsingh24 @vyasriday  Please review #392 and let me contribute

[2020-10-12 13:31] Devanshh commented on #233
@pareek-narendra @vyasriday @puneetsingh24 Can you please check my blog post. The PR is #410

[2020-10-12 18:01] OmkarPh commented on #314
Fine, I saw you didn't comment anything since 8 days, so thought of trying 😅✌️

[2020-10-15 16:00] sharur7 commented on #233
@pareek-narendra @vyasriday @puneetsingh24 Can you please review my PR #420

[2020-10-16 08:02] Hackerbone commented on #233
@pareek-narendra @vyasriday @puneetsingh24  Submitted PR #424 . Please review! Thanks

[2020-10-16 18:32] bharrod321 commented on #233
Submitted PR #430  for review.  Thank you.

[2020-10-18 16:47] Rishav139 commented on #233
Submitted my blog on Blockchain and how it works. PR #433 Please review it @pareek-narendra @vyasriday @puneetsingh24
Thanks

[2020-10-18 19:53] Madmaxcoder2612 commented on #233
Submitted my Blog on Arduino based Bluetooth Car with code. PR #414 , Please review it @vyasriday  @pareek-narendra @puneetsingh24  Thank you

[2020-10-19 08:13] prabhatkgupta commented on #233
I have submitted a blog on Basics of Kubernetes. PR #435 , Please review it and provide any feedback for improvement or changes@vyasriday @pareek-narendra @puneetsingh24

[2020-10-27 06:03] #314 closed

[2020-10-28 16:45] devkapilbansal commented on #233
Hi @pareek-narendra please assign this to me

[2020-10-29 09:32] devkapilbansal commented on #233
I have submitted a PR for GitHub APIs. Please review #472 and provide your valuable feedback. @pareek-narendra @puneetsingh24

[2020-10-30 05:56] AnshMishra2001 commented on #233
@pareek-narendra Can I work on this issue ?

[2020-10-30 06:38] AnshMishra2001 commented on #233
Created PR #480

[2020-10-30 22:07] saranicoly commented on #233
Submitted PR #484  for review. Thank you.

[2020-10-30 23:36] 21Rutam commented on #233
Hey, submitted PR #485 to dev for merging. Thank you and awaiting the swags 🤩

[2020-10-31 13:46] AnshMishra2001 commented on #233
Created PR #483

[2020-11-02 07:10] Rishav139 commented on #233
Will PRs with 'hactoberfest accepted' label be merged?
@pareek-narendra @puneetsingh24

[2020-11-06 09:06] #342 closed

[2020-12-14 08:13] pranavp10 commented on #229
i did not recive any free goodies that you had quoted in the comment that i had registered for :( sad to say this

[2020-12-14 08:45] puneetsingh24 commented on #229
@pranavp10 Pranav there was a google form on the above-mentioned link, you needed to submit your info(as mentioned in above message), we didn't get any entry from your id, maybe that's the reason you didn't receive any communication from our side.

[2020-12-14 09:05] pranavp10 commented on #229
I got the mail form hridayesh.sharma@loginradius.com i did submit the the shipping details but still no reply !!!

[2021-02-08 21:22] #348 closed

[2021-02-08 21:22] #285 closed

[2021-06-04 15:09] #327 closed

[2021-09-24 13:24] raghunath-r-a opened #750 "Write a tech blog post. Get published on Async Blog. And win branded swag."
Hello Everyone 👋

We're accepting long-form (min. 1000 words) blog posts on the following topics. Each contributor will get editorial support and guidance throughout the process 🙂

If you want to work on any topic not listed here, please do let us know by mentioning @raghunath-r-a. We'll discuss and see how we could proceed.

#### Topics

- https://github.com/LoginRadius/engineering-portal/issues/

[2021-09-25 08:23] gagandeepp commented on #232
@aman-agrwl-zz  is this still open I am interested in working on this

[2021-09-25 08:24] gagandeepp commented on #311
@akshay-js  Please assign this to me

[2021-09-26 20:15] ogolajecinta commented on #750
Hi, I would like to work on this topic: How to Improve User Experience with Passwordless Authentication

[2021-09-27 04:50] #229 closed

[2021-09-27 04:52] #233 closed

[2021-09-27 04:53] #309 closed

[2021-09-27 04:54] #228 closed

[2021-09-27 06:05] McTechie commented on #750
Hey @raghunath-r-a, I'd like to work on the title: `What Are Refresh Tokens? When & How to Use Them`

[2021-09-27 06:54] raghunath-r-a opened #751 "ASP.NET Core Authentication Guide"

[2021-09-27 06:54] raghunath-r-a opened #752 "Authentication in Xamarin Apps"

[2021-09-27 06:55] raghunath-r-a opened #753 "What Are Refresh Tokens? When & How to Use Them"

[2021-09-27 06:55] raghunath-r-a opened #754 "How to Improve User Experience with Passwordless Authentication"

[2021-09-27 06:55] raghunath-r-a opened #755 "How to Implement User Authentication in Spring Boot Apps"

[2021-09-27 06:55] raghunath-r-a opened #756 "How to Set Up User Authentication in Rails Apps"

[2021-09-27 06:56] raghunath-r-a opened #757 "How to Develop Real-time Apps with MeteorJS"

[2021-09-27 06:56] raghunath-r-a opened #758 "What are JWT, JWS, JWE, JWK, and JWA?"

[2021-09-27 06:56] raghunath-r-a opened #759 "Using JWT for Authentication in Golang"

[2021-09-27 06:56] raghunath-r-a opened #760 "Building Your First Laravel App with Authentication"

[2021-09-27 06:56] raghunath-r-a opened #761 "How to Build a Nette App and Add Authentication"

[2021-09-27 06:57] raghunath-r-a opened #762 "Authentication in Angular with NgRx"

[2021-09-27 06:57] raghunath-r-a opened #763 "Reduce Account Takeover Risk with Dark Web Monitoring"

[2021-09-27 06:57] raghunath-r-a opened #764 "Bootstrap 4 vs. Bootstrap 5: What is the Difference?"

[2021-09-27 06:57] raghunath-r-a opened #765 "How to Build a Progressive Web App (PWA) with React?"

[2021-09-27 07:08] raghunath-r-a commented on #750
Please [comment here](https://github.com/LoginRadius/engineering-portal/issues/753), so I can assign it to you

[2021-09-27 07:11] raghunath-r-a commented on #750
Please [comment here](https://github.com/LoginRadius/engineering-portal/issues/754), so I can assign it to you

[2021-09-27 07:27] raghunath-r-a opened #766 "Need to add Deploy status badge in README.md"
Please add the Deploy status badge in README.md

Status badges are visual representations of your site's status, served as image files you can add to repository READMEs, documentation, or any other web page. Please follow this [URL](https://docs.netlify.com/monitor-sites/status-badges/#add-status-badges)

[2021-09-27 07:27] #311 closed

[2021-09-27 07:30] raghunath-r-a opened #767 "Code duplication - GraphQL queries"
GraphQL queries are duplicated at many places in the templates.

Please remove those duplicate queries to help improve code quality.

[2021-09-27 07:30] #232 closed

[2021-09-27 09:12] McTechie commented on #753
Heyy @raghunath-r-a ,  I'd like to take up this blog post!

[2021-09-27 09:22] Rutam21 commented on #764
@raghunath-r-a I would love to write a blog on this topic. You can assign it to me. Thanks.

[2021-09-27 10:52] raghunath-r-a commented on #753
Hey @McTechie This is now assigned to you. Please proceed with an outline and then drafting the blog post.

If you're stuck anywhere or having doubts, please do let us know.

[2021-09-27 10:54] raghunath-r-a commented on #764
Hey @Rutam21 This is now assigned to you. Please proceed with an outline and then drafting the blog post.

If you're stuck anywhere or having doubts, please do let us know.

[2021-09-27 15:24] bisht-arun commented on #754
hey hope you are well !
i want to write a  blog about this :)

[2021-09-27 16:54] Pradumn-18 commented on #766
I suppose there are some inconsistency with the deployment command. Because the npm i command throws error.

[2021-09-27 23:45] Aonepathan commented on #765
I've been recently working with React and have wrote some work before, is it okay if I could tackle this item?

[2021-09-28 04:48] raghunath-r-a commented on #765
Sure @Aonepathan

This is now assigned to you. Please proceed with an outline and then drafting the blog post.

If you're stuck anywhere or having doubts, please do let us know.

[2021-09-28 04:59] abhir9 commented on #766
@Pradumn-18 could you share a screenshot.

[2021-09-28 14:00] Pradumn-18 commented on #766
Yeah sure, I am attaching the log file of Netlify deployment build for better insights. The package installation is fine now. I figured that the package installation works fine with lower NodeJs version like 14.x, 12.x but gives error on 16.x. Now I face error in "npm run develop" command mentioned in README.md of the repository.

Please take a deep look into it.

[Log_File.txt](https://github.com

[2021-09-28 19:11] CURVX commented on #763
Sounds fun, a good way spend the coming weekend. I would love write a post on this topic.

[2021-09-29 06:21] raghunath-r-a commented on #763
Hey @CURVX

This is now assigned to you. Please proceed with an outline and then drafting the blog post.

If you're stuck anywhere or having doubts, please do let us know.

[2021-09-29 07:54] sasagarw commented on #759
Hi @raghunath-r-a I would be interested in working on this blog as I have some experience in using JWT tokens in Golang.

[2021-09-29 10:10] akaashsaxena2897 commented on #755
Hi @raghunath-r-a  I am interested in the project above, may I take up the task?

[2021-09-29 10:14] raghunath-r-a commented on #755
Hi @akaashsaxena2897

This is now assigned to you. Please proceed with an outline and then drafting the blog post.

If you're stuck anywhere or having doubts, please do let us know.

[2021-09-29 10:15] raghunath-r-a commented on #759
Hi @sasagarw

This is now assigned to you. Please proceed with an outline and then drafting the blog post.

If you're stuck anywhere or having doubts, please do let us know.

[2021-09-29 11:36] akaashsaxena2897 commented on #755
Thanks!

[2021-09-30 17:40] AmreshSinha commented on #766
Builds are passing on travis-ci

[2021-09-30 17:46] AmreshSinha commented on #766
Tried on Travis-CI
Build is succeeding on Node v14.18.0 but failing on v16.10.0

[2021-09-30 17:47] AmreshSinha commented on #766
@raghunath-r-a @abhir9 you can assign me this issue. Just specify the final testing platform. I prefer going with Travis or as @Pradumn-18 said Netflify.

[2021-09-30 18:05] Pradumn-18 commented on #766
@AmreshSinha I guess Travis CI will not be preferable because their you would not be able to deploy the site. It will start executing the build but at last this is basically a site to be hosted, which will keep running in your build if it passes.I myself tried same on Github Action which is equivalent to Travis CI.

Moreover could you please share the logs of build that you claim is passing.

[2021-09-30 18:19] AmreshSinha commented on #766
@Pradumn-18
Yeah it will be purely used for testing purposes and not for actual production build purpose.

and the fail error log:
https://api.travis-ci.com/v3/job/540618696/log.txt

[2021-09-30 18:40] Pradumn-18 commented on #766
@AmreshSinha Yes I agree to that, it fails with node version 16.x as I have also pointed out same in my prior comment.

[2021-09-30 18:41] McTechie commented on #753
Fixed in #778

[2021-09-30 19:07] aloks98 commented on #767
@raghunath-r-a Hey! I can work on this as I have exp with graphql. Can I get some info what kind of queries we are looking at?

[2021-09-30 21:11] JubayerJoy commented on #758
Hi @raghunath-r-a, I'm interested in working on this.
Cheers 🎈

[2021-10-01 02:55] saisumanthkumar commented on #750
Hi,@raghunath-r-a
I would like to work on this topic : Bootstrap 4 vs. Bootstrap 5: What is the Difference?

[2021-10-01 03:01] saisumanthkumar commented on #757
@raghunath-r-a I'd like to work on this topic,please assign me

[2021-10-01 04:07] SugatoBagchi commented on #764
Hey @raghunath-r-a
If Rutam is not working on this, can I start working on it?

[2021-10-01 04:33] Rutam21 commented on #764
Hey @SugatoBagchi , Thanks for your interest. But I am currently working on it. Feel free to pick something else from the available ones. ✌

[2021-10-01 05:55] raghunath-r-a commented on #758
Hi @JubayerJoy

This is now assigned to you. Please proceed with an outline and then drafting the blog post.

If you're stuck anywhere or having doubts, please do let us know.

[2021-10-01 05:57] raghunath-r-a commented on #757
Hi @saisumanthkumar

This is now assigned to you. Please proceed with an outline and then drafting the blog post.

If you're stuck anywhere or having doubts, please do let us know.

[2021-10-01 06:04] raghunath-r-a opened #782 "Gatsby Authentication Demo using React SDK"

[2021-10-01 06:05] raghunath-r-a opened #783 "Build a React Voting App with Authentication"

[2021-10-01 06:06] raghunath-r-a opened #784 "How to Create an Email Workflow for eCommerce with IAM"

[2021-10-01 06:10] raghunath-r-a commented on #764
Hey @SugatoBagchi

Please feel free to pick any unassigned topics from here: https://github.com/LoginRadius/engineering-portal/issues/750

If you don't find a topic you're interested in, please do let me know. We can discuss it to take it forward

[2021-10-01 06:48] MaximeKoitsalu commented on #762
Hi, what is this issue about exactly? Not sure what you want help with?

[2021-10-01 07:04] raghunath-r-a commented on #762
Hi @MaximeKoitsalu

This is about writing a blog post about `Authentication in Angular with NgRx`

After successful submission and approval, it will be published here: https://www.loginradius.com/blog/async/

You can find more details here on the master issue: https://github.com/LoginRadius/engineering-portal/issues/750

[2021-10-01 08:00] Aniket-508 commented on #783
@raghunath-r-a Can you assign this to me?

[2021-10-01 08:05] raghunath-r-a commented on #783
Hi @Aniket-508

This is now assigned to you. Please proceed with an outline and then drafting the blog post.

If you're stuck anywhere or having doubts, please do let us know.

For writing the blog post, please follow [the blog writing guidelines](https://github.com/LoginRadius/engineering-portal/blob/master/GUIDELINES.md).

Once you have drafted the blog post, please raise a pull request using [t

[2021-10-01 08:17] JubayerJoy commented on #758
@raghunath-r-a, thank you for assigning.

I will follow [this](https://datatracker.ietf.org/doc/html/rfc7515) documentation, your [guidelins](https://github.com/LoginRadius/engineering-portal/blob/master/GUIDELINES.md), and [this LoginRadius blog](https://www.loginradius.com/blog/async/guest-post/jwt-vs-sessions/) for standards for the blog.

Do you prefer any other material for this?
Cheers.

[2021-10-01 08:21] raghunath-r-a commented on #758
That's all sounds good, @JubayerJoy

Just try making it as developer-friendly as possible and very explanatory. It will provide deep value for the developer community as a whole.

[2021-10-01 10:38] saisumanthkumar commented on #757
can we add the resources ??

[2021-10-01 11:51] raghunath-r-a commented on #757
@saisumanthkumar I can't understand what you're specifically asking. Would you please explain a bit elaborately?

[2021-10-01 11:56] saisumanthkumar commented on #757
Inaddition to this ,can I add some tutorial links(Youtube)

[2021-10-01 12:01] raghunath-r-a commented on #757
@saisumanthkumar Yes, you can add 1 or 2 at max. But please make sure the youtube link is highly relevant to the blog posts and ensure that you embed the video, not just adding a link.

[2021-10-01 12:03] saisumanthkumar commented on #757
ok 👍🏻

[2021-10-01 12:06] raghunath-r-a commented on #766
@AmreshSinha @Pradumn-18 Thanks for highlighting this issue. Project maintainers are trying to fix this on priority.

Meanwhile, adding a status badge in RADME.md has been addressed by another pull request. (For your reference).

CC: @abhir9 @mohammed786 @pareek-narendra

[2021-10-01 12:15] raghunath-r-a opened #789 "Upgrade Gatsby to Support Node 16.x"

[2021-10-01 12:18] mohammed786 commented on #766
@Pradumn-18 Seems like gatsby version used in this portal is 2.x.x, which is not supported in node v16.x, kindly raise the PR in support to node version either `v14.x` or `v12.x` to run it locally till we upgrade the gatsby version for this portal.

For more details checkout this issue #789

[2021-10-01 12:20] Pradumn-18 commented on #766
Though the PR seems to have merged but unfortunately I am still not able to the badge for Netlify deployment.

Could you please look into that.

[2021-10-01 12:21] Pradumn-18 commented on #766
@mohammed786 Sure would do that.

[2021-10-01 14:51] dontech09 commented on #766
Wish to work on that

[2021-10-01 15:27] vibhuvj27 commented on #750
Hey @raghunath-r-a, Can I write on this topic: OpenCV Python Basics?

[2021-10-01 15:56] AmreshSinha commented on #750
@vibhuvj27 I thnink "Integrating OpenCV with WebApps" would be a better option!

[2021-10-01 15:59] vibhuvj27 commented on #750
Oh yea that's better!!
Thanks

[2021-10-01 18:10] nuwan94 commented on #782
Hi @raghunath-r-a , I'd like to take up this blog post!

[2021-10-02 02:31] mohitsaxenaknoldus commented on #750
Hello, can I write a complete blog on JWT? I'll give complete information, its format, and examples.

[2021-10-02 05:37] Alucard17 commented on #789
@raghunath-r-a Can I take this

[2021-10-02 12:47] AnshSSonkhia commented on #764
**Bootstrap 4 vs Bootstrap 5**
What's happening in Bootstrap 5 for Web Developers

Likewise with any significant form change, a ton has changed in Bootstrap 5 over Bootstrap 4. Here is the rundown of significant contrasts you need to remember when refreshing your old undertakings that are worked with Bootstrap 4 or prior. In case you are beginning another task with Bootstrap 5 or are utilizing Boo

[2021-10-02 16:42] Rutam21 commented on #764
@AnshSSonkhia Please work on the tickets that are only assigned to you. Moreover, this is not how you should submit your contributions. Please go through some tutorials and learn about Github and PRs, find some other issue and then raise a PR. This issue is already taken. Thanks.

[2021-10-02 20:49] nishihere19 commented on #751
Can I work on this? I am planning to follow [this](https://www.loginradius.com/blog/async/alternate-authentication-asp/) and [blog writing guidelines](https://github.com/LoginRadius/engineering-portal/blob/master/GUIDELINES.md) for the same.

[2021-10-03 04:00] bisht-arun commented on #754
Hi hope u r doing awesome!!
plz look at this 💯
hope you like this :) @raghunath-r-a

https://kec1-my.sharepoint.com/:w:/g/personal/arun_singh_as_krishnacollege_ac_in/ES1vP5cRYhJEoA8rKbrb-qcBXtVD4mJR5qJw47Rt-zFuog?e=rJPdCd

[2021-10-03 08:23] mohammed786 commented on #767
Hi, @aloks98 Below is the frontmatter format that will be used for Graphql queries:
[code]

From the above frontmatter we are:
- Listing the blog based on the date (recent first)
- If there is any blog that has `pinned: true` it should show at the top else the latest blog should show at the top.
- Filter blogs based on tags
- Filter blogs based on the author

So the queries are written for the abo

[2021-10-03 13:14] schezfaz commented on #762
Hey @raghunath-r-a! I'd love to work on this issue. May I take it forward?

[2021-10-03 19:27] ps-19 commented on #760
@raghunath-r-a please assign this issue to me.

[2021-10-03 19:29] ps-19 commented on #760
i have already worked on laravel framework [here](https://github.com/ps-19/Posts).

[2021-10-03 19:30] ps-19 commented on #760
But i will need some of your help or help from community

[2021-10-04 03:20] Hard-Coder05 opened #795 "Add Github Issue Form"
__Is your feature request related to a problem? Please describe.__

GitHub has recently rolled out a [public beta for their issue forms](https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/) feature. This would allow you to create interactive issue templates and validate them 🤯.

__Describe the solution you'd like__

This repository currently uses no issue template.

[2021-10-04 03:21] Hard-Coder05 commented on #795
@raghunath-r-a I would like to work on this issue!

[2021-10-04 03:51] raghunath-r-a commented on #789
@Alucard17 Thanks for your interest in fixing in this. But this has been already addressed by this pull request: https://github.com/LoginRadius/engineering-portal/pull/792

[2021-10-04 03:56] raghunath-r-a commented on #766
@dontech09 Thanks for your interest in fixing this. But this has been already addressed by this pull request: https://github.com/LoginRadius/engineering-portal/pull/792

[2021-10-04 03:59] raghunath-r-a commented on #782
Hi @nuwan94 This is now assigned to you. Please proceed with an outline and then drafting the blog post.

If you're stuck anywhere or having doubts, please do let us know.

[2021-10-04 04:15] raghunath-r-a commented on #764
@AnshSSonkhia As @Rutam21 has mentioned, the submission should follow the guidelines specified. We do this to ensure that we can collaborate well with the community and avoid duplication of effort. Please take a look at this [master issue](https://github.com/LoginRadius/engineering-portal/issues/750) for more details.

[2021-10-04 04:19] raghunath-r-a commented on #751
Sure, @nishihere19

But you may need to do more research in addition to following the blog you've mentioned.

This is now assigned to you. Please proceed with an outline and then drafting the blog post.

If you're stuck anywhere or having doubts, please do let us know.

[2021-10-04 04:22] raghunath-r-a commented on #754
Hi @bisht-arun

I'm doing all right. I hope you're doing well.

Please note that submissions shall follow our contribution guidelines. For more details, please refer to the master issue here: https://github.com/LoginRadius/engineering-portal/issues/750

In short, you shall raise a pull request to submit the blog post.

[2021-10-04 04:25] raghunath-r-a commented on #767
Hi @aloks98 This is now assigned to you. You may go ahead and work on this.

[2021-10-04 04:26] raghunath-r-a commented on #762
Hey @schezfaz This is now assigned to you. Please proceed with an outline and then drafting the blog post.

If you're stuck anywhere or having doubts, please do let us know.

[2021-10-04 04:28] nishihere19 commented on #751
Thanks

[2021-10-04 04:29] raghunath-r-a commented on #760
Hi @ps-19

This is about writing a blog post about `Building Your First Laravel App with Authentication`

After successful submission and approval, it will be published here: https://www.loginradius.com/blog/async/

You can find more details here on the master issue: #750

Would you please specify what help you need?

[2021-10-04 04:42] ps-19 commented on #760
I need a community to talk about issues i may face

[2021-10-04 04:45] Rutam21 commented on #764
@raghunath-r-a I have the following headings for my blog. Let me know if they are fine.

# Introduction
# Getting Started with Bootstrap
# Bootstrap Verisons
 ## Bootstrap 4.x
 ## Bootstrap 5.x
# Summary

[2021-10-04 04:45] ps-19 commented on #750
Assign me issue#760 please.

[2021-10-04 05:47] raghunath-r-a commented on #760
Okay, @ps-19 You may post your questions on this thread. We'll try to help you as soon as we can.

[2021-10-04 05:50] raghunath-r-a commented on #764
@Rutam21 Looks good. You may please proceed with writing the blog. Just to note, please ensure that you include a section that clearly describes the differences between 4.x and 5.x and what one should keep in mind.

[2021-10-04 05:54] raghunath-r-a opened #797 "How to Integrate OpenCV with Web Apps"

[2021-10-04 05:54] raghunath-r-a commented on #750
@vibhuvj27 This title sounds good: How to Integrate OpenCV with Web Apps

I have created an issue for the same: https://github.com/LoginRadius/engineering-portal/issues/797

Please comment on the issue, so I can assign it to you.

[2021-10-04 05:55] vibhuvj27 commented on #797
Can you please assign this to me @raghunath-r-a

[2021-10-04 05:57] raghunath-r-a commented on #750
@mohitsaxenaknoldus We have already covered well about JWT here: https://www.loginradius.com/blog/async/tags/jwt/

Please do let us know if you want to cover anything that isn't available on our blog yet. Thanks!

[2021-10-04 06:00] raghunath-r-a commented on #797
@vibhuvj27 This is now assigned to you. Please proceed with an outline and then drafting the blog post.

If you're stuck anywhere or having doubts, please do let us know.

[2021-10-04 06:08] raghunath-r-a commented on #795
Hi @Hard-Coder05 Thanks so much for raising this issue! This is now assigned to you. You may please proceed to work on this.

[2021-10-04 06:31] mohitsaxenaknoldus commented on #750
What about email using Lambda and Amazon SES?

Ok so what about `sending email using Lambda and Amazon SES`? This will also involve the use of IAM.

[2021-10-04 07:42] Hard-Coder05 commented on #795
@raghunath-r-a I have made the PR for this! Do let me know if any change is required!

[2021-10-04 07:44] pareek-narendra opened #801 "Copy Button for code block"
Add a copy button for code block if available in any blog content.

[2021-10-04 07:46] pareek-narendra opened #802 "Show modified date for the blog with creation date"
There should be an option to show blog content updated/modified dates.

[2021-10-04 08:28] tushartiwari7 commented on #801
Heyy! @pareek-narendra  I can do this! Can you please link the exact file from where the Code box is rendered,
It's hard to find.

Thanks.

[2021-10-04 08:46] tushartiwari7 commented on #750
Hey @raghunath-r-a, I was planning to write an article on `JavaScript for Competitive Programming`. Let's see if we can make it together.

[2021-10-04 09:21] nilesh-sengupta commented on #784
Can I work on this ?

[2021-10-04 10:07] raghunath-r-a commented on #750
Hey @tushartiwari7 It is a good topic. However, our blog mainly focuses on web development and user authentication (though we also welcome other topics at times).

Although I myself am not an avid programmer, I don't think JavaScript is the go-to option for programming competitions (Please correct me If I'm wrong).

I see that you've worked on a project related to cryptography. Would you be intere

[2021-10-04 10:10] raghunath-r-a commented on #750
@mohitsaxenaknoldus You mean, `how to send transactional emails using Lambda and Amazon SES`?

If yes, please do create an issue with this title, so I can assign it to you.

[2021-10-04 10:17] #753 closed

[2021-10-04 10:34] RajMhatre20 commented on #802
Can I work on this issue?

[2021-10-04 10:43] mohitsaxenaknoldus opened #804 "Blog: How to send transactional emails using Lambda and Amazon SES"
Please assign it to me @raghunath-r-a

One question: Which format do I've to provide the blog in? google doc? or I just have to put here?

[2021-10-04 11:22] BRdhanani commented on #761
@raghunath-r-a Can I work on this?

[2021-10-04 11:51] raghunath-r-a commented on #784
Hi @nilesh-sengupta This is now assigned to you. Please proceed with an outline and then drafting the blog post.

If you're stuck anywhere or having doubts, please do let us know.

[2021-10-04 11:55] raghunath-r-a commented on #804
@mohitsaxenaknoldus This is now assigned to you. Please proceed with an outline and then drafting the blog post.

If you're stuck anywhere or having doubts, please do let us know.

The blog shall be in markdown format. Please find more details here:

- https://github.com/LoginRadius/engineering-portal/blob/master/CONTRIBUTING.md
- https://github.com/LoginRadius/engineering-portal/blob/master/GUIDE

[2021-10-04 11:56] raghunath-r-a commented on #761
Hi @BRdhanani Yes, this is now assigned to you. Please proceed with an outline and then drafting the blog post.

If you're stuck anywhere or having doubts, please do let us know.

[2021-10-04 12:47] codersalman commented on #801
Hey Can you assign this to me

[2021-10-04 13:48] bisht-arun commented on #754
@raghunath-r-a
Hi umm, I'm new to this. So can you plz tell me how to raise PR?

[2021-10-04 15:56] tushartiwari7 commented on #750
Thanks alot @raghunath-r-a for your words on this.
It's true that javascript is not the go-to language for programming challanges due to language constraints as it's a Scripting language. I wanted to cover it in detail that's why planning to write on it.

And yes, I have did a project on cryptography too but for the time being I want to do development in MERN.

Will get in touch with you if planne

[2021-10-04 16:58] RajMhatre20 commented on #802
Should I add the modification date above the Related Posts section as shown in the example below or somewhere else?
![image](https://user-images.githubusercontent.com/68785723/135892436-f5f7ba25-ce1d-4181-952a-8570c2e21226.png)

[2021-10-04 17:20] gargikar commented on #756
Hi ! Can I work on this?

[2021-10-04 17:42] shubhayu-64 commented on #752
I want to work on this.

[2021-10-04 22:02] pranshukas commented on #801
Hello! @pareek-narendra, I am willing to work on this issue. I have experience in Javascript, HTML, CSS and would like to contribute to this Issue. I would be more than happy if you would assign me this issue to work on.
In case you would like to see my previous work you can check out: https://pranshu-resume.netlify.app/

[2021-10-05 05:38] raghunath-r-a commented on #754
Hi @bisht-arun

You will need a basic understanding of Git to be able to follow this.

First, you need to fork our repo here: https://github.com/LoginRadius/engineering-portal

And then you need to create changes in your forked GitHub repo as per these guidelines: https://github.com/LoginRadius/engineering-portal/blob/e816dc8ee4ba13c822aeceddfe31884753899fff/CONTRIBUTING.md

You can refer to the f

[2021-10-05 05:44] raghunath-r-a commented on #756
Sure, @gargikar

This is now assigned to you. Please proceed with an outline and then drafting the blog post.

If you're stuck anywhere or having doubts, please do let us know.

[2021-10-05 05:46] raghunath-r-a commented on #752
@shubhayu-64 This is now assigned to you. Please proceed with an outline and then drafting the blog post.

If you're stuck anywhere or having doubts, please do let us know.

[2021-10-06 04:11] Aonepathan commented on #765
Blog post has been added in the following PR: #811

Please review when you have a chance!

[2021-10-06 15:41] sahil9001 opened #812 "Request for adding Bug issue form as a template."
Hey there! I would like to add a bug report template for this repository which would enable newcomers to fill their bugs and report them more easily than writing whole document for it.

Preview:
![Screenshot from 2021-10-06 21-11-10](https://user-images.githubusercontent.com/32628578/136237255-50450f08-2cfd-4028-8b43-75a3e9fcf074.png)

[2021-10-06 16:28] MitAbhay commented on #802
Can you assign it to me @pareek-narendra

[2021-10-06 19:38] djm-1 commented on #801
Hi @pareek-narendra,
Can you assign this issue to me? I have already done the same thing in my blog https://www.djmblogs.ml/post/8
Thank you.

[2021-10-07 05:48] mohitsaxenaknoldus commented on #804
PR raised: https://github.com/LoginRadius/engineering-portal/pull/813
@raghunath-r-a

[2021-10-07 06:11] Aniket-508 commented on #783
Also, for the authentication part, do I have to do it using Login radius?

[2021-10-07 06:36] rr-gh-cw opened #814 "How to Build Decentralized Applications with Gun.js"

[2021-10-07 06:48] ashish-patwal commented on #814
@raghunath-r-a i will be very happy to work on this issue .

[2021-10-07 07:06] mohitsaxenaknoldus commented on #804
Ooops...missed those! Added now! @raghunath-r-a

[2021-10-07 07:06] raghunath-r-a commented on #783
Yes, @Aniket-508 You have to explain how to build the app step by step with code samples. For authentication, you can use Loginradius. Or, you can also use a generic method.

[2021-10-07 07:09] ashish-patwal commented on #814
Thank you for your help @raghunath-r-a

[2021-10-07 09:11] rohiraanjali commented on #797
Can you please assign this to me @raghunath-r-a

[2021-10-07 12:53] raghunath-r-a commented on #812
A PR has already been created for it: https://github.com/LoginRadius/engineering-portal/pull/800

[2021-10-07 20:11] Rutam21 commented on #764
@themonikanayak The issue is already assigned. Feel free to pick some other issue. Thanks.

[2021-10-11 03:36] raghunath-r-a commented on #797
Hi @dingusagar

This is already assigned to @vibhuvj27 for now.

[2021-10-11 04:43] dingusagar commented on #797
Oh okay. I thought the previous assignment was removed. No problem.

[2021-10-11 05:20] Aryannath commented on #797
Hey @raghunath-r-a  is this still up ?

[2021-10-11 05:31] raghunath-r-a commented on #797
Oh, I'm sorry. I didn't see the update that @vibhuvj27 had self-unassigned. As this is the case, I'm assigning this to you.

[2021-10-11 05:33] raghunath-r-a commented on #797
Hey @Aryannath This is assigned to @dingusagar for now. Please let us know if you'd like to write on some other topic.

[2021-10-11 07:34] dingusagar commented on #797
hi @raghunath-r-a . Is there any example blogs that i can refer to for a template ? Also where should i be doing the draft work?

[2021-10-11 18:22] nishihere19 commented on #751
Hi, I am already working on it. Can you please choose some other topic?

[2021-10-12 07:28] pareek-narendra commented on #802
@rajlomror @McTechie @AR10X

This will be at the same place where we have the published date. After new changes in any blog, this will be replaced with the last updated on <date>.
This should not impact the order of blogs we are displaying.

[2021-10-12 10:39] raghunath-r-a commented on #758
Hi @anushkajain6459 It is currently assigned to @JubayerJoy

You can propose some other topics you'd like to write about that are related to web development.

[2021-10-13 09:54] raghunath-r-a opened #823 "React -- Best Coding Practices"

[2021-10-14 07:18] rohiraanjali commented on #823
Outline:-

### Why and how clean code helps?
**Best practices guide**
## Naming conventions
## code structure
## file and folder
## component
## hooks
## CRA usability
## ES6
Will add more if something else strikes in my mind

[2021-10-14 13:55] RahulSoni0 opened #827 "Android Development Best Coding Practices"
@raghunath-r-a can I work on this issue?

[2021-10-14 16:03] Aniket-508 commented on #783
@raghunath-r-a Sir for the voting part does it need to be part of a particular user session or it should reflect the same for new users too and remain as it in the database for future too!

[2021-10-18 13:06] pareek-narendra commented on #802
Yes @BhandarkarPawan You can pick this

[2021-10-20 10:27] raghunath-r-a opened #832 "On Click, Open External Links In a New Tab"
Currently, when clicked on a link, it is being redirected to the same table.

However, for external links (non loginraius.com links), links should open in a new tab upon clicking. This functionality needs to be implemented in Gatsby.

Reference: https://www.gatsbyjs.com/plugins/gatsby-remark-external-links/

[2021-10-21 06:30] #764 closed

[2021-10-21 06:39] raghunath-r-a commented on #753
Hi @McTechie We published your blog some time ago: https://www.loginradius.com/blog/async/guest-post/what-are-refresh-tokens-and-when-to-use-them/

I just thought to let you know in case you missed it.

Please do share it with your network and on social media!

[2021-10-21 14:39] McTechie commented on #753
Yess @raghunath-r-a, I did see the published blog and was super proud of myself for having written it! xD

P.s. Super glad to have contributed to this fabulous repository as well! Looking forward to further contributions to LoginRadius 🙌🏼

[2021-10-23 00:19] MaheshDoiphode commented on #827
@raghunath-r-a Can I work on it ??

[2021-10-24 15:05] Slv-WebTech opened #845 "check it for m12r"
check it again

[2021-10-25 05:19] rr-gh-cw opened #846 "Building Auto Documentation Using Sphinx"

[2021-10-25 09:25] #845 closed, assigned to nobody

[2021-10-29 18:59] chtnnh commented on #782
Hello @raghunath-r-a, would it be possible for you to assign this task to me? I would love to help contribute!

[2021-10-29 19:48] atom19-i commented on #760
@raghunath-r-a please assign this to me

[2021-10-30 10:05] Yashesvinee commented on #758
Hi I have added the blog
Please let me know if it requires any changes

[2021-11-01 04:24] raghunath-r-a commented on #782
Hi @chtnnh This is now assigned to you. Please proceed with an outline and then drafting the blog post.

Please ensure that the content you write is original and written from your own understanding and expertise on the subject matter.

You can refer to the guidelines here:

- https://github.com/LoginRadius/engineering-portal/blob/master/GUIDELINES.md
- https://github.com/LoginRadius/engineering-po

[2021-11-01 04:25] raghunath-r-a commented on #760
Hi @atom19-i This is now assigned to you. Please proceed with an outline and then drafting the blog post.

Please ensure that the content you write is original and written from your own understanding and expertise on the subject matter.

You can refer to the guidelines here:

- https://github.com/LoginRadius/engineering-portal/blob/master/GUIDELINES.md
- https://github.com/LoginRadius/engineering-

[2021-11-01 06:05] raghunath-r-a commented on #750
This issue is being closed as Hacktoberfest has ended.

[2021-11-01 06:05] #750 closed

[2021-11-01 09:19] atom19-i commented on #760
@raghunath-r-a i wanted to make this PR under hacktoberfest..

[2021-11-01 09:40] raghunath-r-a commented on #760
@atom19-i Hacktoberfest 2021 has ended, so this cannot come under Hacktoberfest

[2021-11-08 09:23] #795 closed

[2021-11-10 10:19] raghunath-r-a commented on #846
@eaglewarrior Please update your status on this

[2021-11-10 10:20] raghunath-r-a commented on #814
@ashish-patwal Please update your status on this

[2021-11-10 10:23] raghunath-r-a commented on #802
@BhandarkarPawan May we please know your status on this?

[2021-11-10 12:10] raghunath-r-a commented on #797
Hi @dingusagar Congrats! You blog has been published: https://www.loginradius.com/blog/async/guest-post/opencv-web-app-with-streamlit/

[2021-11-10 12:10] #797 closed

[2021-11-10 16:38] dingusagar commented on #797
@raghunath-r-a ,
Thanks a lot for the support. This was my first blog. Now I am motivated to write more. 😊

[2021-11-11 06:01] raghunath-r-a commented on #797
Hey @dingusagar That's good to know. You wrote it well. To me, it didn't feel like it's your first blog!

What are you interested in writing about?

Keep contributing!
@raghunath-r-a

[2021-11-11 15:16] dingusagar commented on #797
Sure, will checkout other topics and contribute if it interests me. My interests vary from nlp, computer vision, python automations etc.

[2021-11-12 09:40] raghunath-r-a commented on #797
Sure. If we didn't list any topic you wanna write about, please do let us know.

[2021-11-23 11:57] raghunath-r-a commented on #754
Hi @dudenayak Can you please update your progress on this?

[2021-11-24 14:04] raghunath-r-a commented on #758
Hi @Yashesvinee Congrats! Your blog has been published: https://www.loginradius.com/blog/async/guest-post/what-are-jwt-jws-jwe-jwk-jwa/

Please do share it with your network and on social media

[2021-11-24 14:04] #758 closed

[2021-11-24 14:08] Yashesvinee commented on #758
Thank you Sir

[2021-12-29 07:14] #804 closed

[2022-04-22 12:44] morelmiles commented on #759
Hi @raghunath-r-a,
Can I take this up and work on it?

[2022-04-22 13:35] raghunath-r-a commented on #759
@morelmiles sure, please create an outline and share with us. After we collaboratively finalize the outline, you can draft and submit the content. Sounds good?

[2022-04-22 13:50] morelmiles commented on #759
yes it does. i'll share once i'm done with the outline.

[2022-04-23 16:46] morelmiles commented on #759
Here's the layout.
- A bullet list of what's to be learnt by going through the tutorial.
- What is authentication?
- What is JWT and how does it work.
- Prerequisites
- A section about the projet setup and dependencies
- Code implementation of a simple app with auth -- from mux, postgres and a jwt package
- Test the routes (login and register) using Postman before adding jwt as an auth helper. (At

[2022-04-25 12:56] raghunath-r-a commented on #759
Hi @morelmiles The outline looks good. While drafting your content, please ensure to cover the following as well:

- securing/protecting routes
- handling post-authentication routes
- renewing the token

Please use the following guidelines for drafting and submitting your content:

- https://github.com/LoginRadius/engineering-portal/blob/main/GUIDELINES.md
- https://github.com/LoginRadius/engineer

[2022-06-07 07:34] raghunath-r-a commented on #759
Hi @morelmiles May I please know your progress on this?

[2022-10-07 04:18] vyasriday opened #1249 "[BUG]: The email subscription field is barely visible on blog page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The email subscription field is barely visible on blog page
![image](https://user-images.githubusercontent.com/12582432/194466870-a30f12e1-79d8-422e-81b3-212d8c38e5ec.png)

### Expected Behavior

The email field should be visible with better background color.

### Steps To Reproduce

[code]

[2022-10-07 04:19] vyasriday commented on #1249
@puneetsingh24

[2022-11-03 14:50] Qodestackr opened #1267 "Complete Authorization guide in GraphQL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What is your question?

_No response_

### Anything else?

We will build an authorization system with GraphQL and discuss:
1. Role based access controls
2. Attribute based access controls
3. Authorization at resolvers
4. App-wide authorization
5. Authorization at the data layers
6. Global authorization with Ce